version: '3'
services:
  app:
    build: .
    container_name: fagdag
    ports:
      - "3001:3001"
    volumes:
      - ./data:/app/data
    environment:
      - ADMIN_PASSWORD=systek
    restart: unless-stopped
